/* Header */

position: absolute;
width: 1252px;
height: 752px;
left: 89px;
top: 50px;



/* doodle-4 1 */

position: absolute;
left: 53.75%;
right: 38.89%;
top: 3.99%;
bottom: 94.33%;

background: url(doodle-4);


/* Rectangle */

position: absolute;
left: 6.18%;
right: 76.59%;
top: 5.21%;
bottom: 90.85%;

background: url(Saly-6);
transform: rotate(-11.81deg);


/* doodle-5 2 */

position: absolute;
left: 21.88%;
right: 71.94%;
top: 2.72%;
bottom: 95.87%;

background: url(doodle-5);
filter: blur(1px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle */

position: absolute;
left: 76.39%;
right: 6.88%;
top: 3.03%;
bottom: 93.14%;

background: url(Saly-1);


/* Icon */

position: absolute;
width: 48px;
height: 41.08px;
left: 1042px;
top: 372px;



/* Vector */

position: absolute;
left: 72.75%;
right: 24.7%;
top: 6.16%;
bottom: 93.58%;

background: #FFE07D;


/* Vector */

position: absolute;
left: 72.52%;
right: 24.46%;
top: 6.09%;
bottom: 93.57%;

background: #FF8086;


/* Vector */

position: absolute;
left: 73.95%;
right: 24.46%;
top: 6.09%;
bottom: 93.57%;

background: #E5646E;


/* Vector */

position: absolute;
left: 73.23%;
right: 25.17%;
top: 6.24%;
bottom: 93.6%;

background: #AA79EE;


/* Vector */

position: absolute;
left: 74.14%;
right: 24.36%;
top: 6.36%;
bottom: 93.44%;

background: #ECF4FF;


/* Vector */

position: absolute;
left: 72.41%;
right: 26.08%;
top: 6.36%;
bottom: 93.44%;

background: #ECF4FF;


/* Vector */

position: absolute;
left: 73.09%;
right: 26.08%;
top: 6.36%;
bottom: 93.44%;

background: #DDEAFB;


/* Vector */

position: absolute;
left: 74.82%;
right: 24.36%;
top: 6.36%;
bottom: 93.44%;

background: #DDEAFB;


/* Vector */

position: absolute;
left: 74.95%;
right: 24.63%;
top: 6.4%;
bottom: 93.5%;

background: #DDEAFB;


/* Vector */

position: absolute;
left: 72.73%;
right: 26.89%;
top: 6.4%;
bottom: 93.5%;

background: #DDEAFB;


/* Vector */

position: absolute;
left: 73.98%;
right: 25.92%;
top: 5.96%;
bottom: 93.94%;

background: #FFE07D;


/* Vector */

position: absolute;
left: 72.95%;
right: 26.79%;
top: 6.02%;
bottom: 93.89%;

background: #FFE07D;


/* Vector */

position: absolute;
left: 74.84%;
right: 24.9%;
top: 6.02%;
bottom: 93.89%;

background: #FFE07D;


/* Vector */

position: absolute;
left: 72.36%;
right: 27.33%;
top: 6.13%;
bottom: 93.8%;

background: #C3DDFF;


/* Vector */

position: absolute;
left: 75.38%;
right: 24.31%;
top: 6.13%;
bottom: 93.8%;

background: #C3DDFF;


/* Vector */

position: absolute;
left: 73.33%;
right: 26.35%;
top: 5.91%;
bottom: 94.02%;

background: #FFF0AF;


/* Vector */

position: absolute;
left: 74.41%;
right: 25.28%;
top: 5.91%;
bottom: 94.02%;

background: #FFF0AF;


/* Group 1000002307 */

position: absolute;
width: 714px;
height: 242px;
left: 363px;
top: 175px;



/* The home of your dream j b */

position: absolute;
width: 714px;
height: 160px;
left: 363px;
top: 175px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 80px;
/* or 114% */
text-align: center;
letter-spacing: -2px;

color: #1F1F1F;



/* You do not have the right to remain silent… let us know what it takes to challenge you */

position: absolute;
width: 469px;
height: 56px;
left: 486px;
top: 361px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */
text-align: center;

color: #5B5A62;

mix-blend-mode: normal;


/* Group 1000002531 */

position: absolute;
width: 706px;
height: 111px;
left: 367px;
top: 691px;



/* Trending searches */

position: absolute;
width: 184px;
height: 24px;
left: 628px;
top: 691px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.005em;

color: #1F1F1F;



/* Group 1000002311 */

position: absolute;
width: 706px;
height: 37px;
left: 367px;
top: 765px;



/* Button */

box-sizing: border-box;

position: absolute;
width: 103px;
height: 37px;
left: 367px;
top: 765px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 19.5px;


/* Remote job */

position: absolute;
width: 75px;
height: 17px;
left: 14px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #414141;



/* Button */

box-sizing: border-box;

position: absolute;
width: 116px;
height: 37px;
left: 495px;
top: 765px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 19.5px;


/* UI/UX Design */

position: absolute;
width: 88px;
height: 17px;
left: 14px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #414141;



/* Button */

box-sizing: border-box;

position: absolute;
width: 129px;
height: 37px;
left: 636px;
top: 765px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 19.5px;


/* Product Design */

position: absolute;
width: 101px;
height: 17px;
left: 14px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #414141;



/* Button */

box-sizing: border-box;

position: absolute;
width: 116px;
height: 37px;
left: 790px;
top: 765px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 19.5px;


/* Development */

position: absolute;
width: 88px;
height: 17px;
left: 14px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #414141;



/* Button */

box-sizing: border-box;

position: absolute;
width: 142px;
height: 37px;
left: 931px;
top: 765px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 19.5px;


/* Work From Home */

position: absolute;
width: 114px;
height: 17px;
left: 14px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;
letter-spacing: -0.01em;

color: #414141;



/* Search bar */

position: absolute;
width: 746px;
height: 74px;
left: 347px;
top: 497px;



/* Button */

position: absolute;
width: 152px;
height: 70px;
left: 941px;
top: 500px;



/* Fill */

position: absolute;
width: 152px;
height: 70px;
left: 941px;
top: 500px;

background: #F57343;
border-radius: 50px;


/* Search job */

position: absolute;
width: 83px;
height: 19px;
left: 976px;
top: 525px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Content */

position: absolute;
width: 574px;
height: 74px;
left: 347px;
top: 497px;



/* Rectangle 3638 */

position: absolute;
width: 574px;
height: 74px;
left: 347px;
top: 497px;

background: #FFFFFF;
box-shadow: 0px 40px 80px -22px rgba(98, 89, 89, 0.09);
border-radius: 50px;


/* Rectangle 3640 */

position: absolute;
width: 1px;
height: 15px;
left: 409px;
top: 526px;

background: #484545;


/* Rectangle 3641 */

position: absolute;
width: 1px;
height: 27px;
left: 601px;
top: 520px;

background: #E6E6E6;


/* Rectangle 3642 */

position: absolute;
width: 1px;
height: 27px;
left: 756px;
top: 520px;

background: #E6E6E6;


/* Job Title or keyword */

position: absolute;
width: 157px;
height: 16px;
left: 414px;
top: 526px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

color: #5E5C68;

opacity: 0.5;


/* Location */

position: absolute;
width: 66px;
height: 16px;
left: 660px;
top: 526px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

color: #5E5C68;

opacity: 0.5;


/* Remotely */

position: absolute;
width: 72px;
height: 16px;
left: 787px;
top: 526px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

color: #27272C;



/* Vector */

position: absolute;
left: 26.48%;
right: 72.45%;
top: 8.36%;
bottom: 91.39%;

background: #252525;


/* place 1 */

position: absolute;
width: 16px;
height: 16px;
left: 632px;
top: 526px;



/* Group */

position: absolute;
left: 9.55%;
right: 9.55%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 9.55%;
right: 9.55%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 9.55%;
right: 9.55%;
top: 0%;
bottom: 0%;

background: #252525;


/* Group */

position: absolute;
left: 30.42%;
right: 30.42%;
top: 20.75%;
bottom: 40.09%;



/* Group */

position: absolute;
left: 30.42%;
right: 30.42%;
top: 20.75%;
bottom: 40.09%;



/* Vector */

position: absolute;
left: 30.42%;
right: 30.42%;
top: 20.75%;
bottom: 40.09%;

background: #252525;


/* down-arrow 1 */

position: absolute;
width: 9px;
height: 9px;
left: 871px;
top: 532px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 25%;
bottom: 25%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 25%;
bottom: 25%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 25%;
bottom: 25%;

background: #BCBCBC;


/* search 1 */

position: absolute;
width: 16px;
height: 16px;
left: 381px;
top: 526px;



/* Navigation */

position: absolute;
width: 1170.71px;
height: 56px;
left: 134.29px;
top: 50px;



/* Company */

position: absolute;
width: 64px;
height: 17px;
left: 812px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #495263;



/* Recent post */

position: absolute;
width: 90px;
height: 17px;
left: 682px;
top: 69px;



/* Group 1000001800 */

position: absolute;
width: 90px;
height: 17px;
left: 682px;
top: 69px;



/* Recent post */

position: absolute;
width: 81px;
height: 17px;
left: 682px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #495263;



/* Vector 1 */

position: absolute;
width: 6px;
height: 3px;
left: 766px;
top: 77px;

background: #495263;


/* Find Jobs */

position: absolute;
width: 78px;
height: 17px;
left: 564px;
top: 69px;



/* Find Jobs */

position: absolute;
width: 65px;
height: 17px;
left: 564px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #495263;



/* Vector 1 */

position: absolute;
width: 6px;
height: 3px;
left: 636px;
top: 77px;

background: #495263;


/* Log in */

position: absolute;
width: 41px;
height: 17px;
left: 1090px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;
letter-spacing: -0.01em;

color: #28344A;



/* Button */

position: absolute;
width: 152px;
height: 56px;
left: 1153px;
top: 50px;



/* Fill */

box-sizing: border-box;

position: absolute;
width: 152px;
height: 56px;
left: 1153px;
top: 50px;

background: #864BD8;
border-radius: 34px;


/* Creat Account */

position: absolute;
width: 97px;
height: 18px;
left: 1180px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: -0.01em;

color: #FFF9F8;



/* Logo */

position: absolute;
width: 102.61px;
height: 32.06px;
left: 134.29px;
top: 61.88px;



/* xiera */

position: absolute;
width: 68.69px;
height: 20.62px;
left: 168.21px;
top: 63.62px;

background: #292929;


/* Vector 6324 (Stroke) */

position: absolute;
width: 28.94px;
height: 32.06px;
left: 134.29px;
top: 61.88px;

background: #FF764A;
